
{{ oPosicion.mostrar_left_slide(1)|raw }}
<h3> {{ nom_activ }}</h3>
{{ oTabla.mostrar_tabla_html()|raw }}
<script>
fnjs_cambiar_actividad=function(id_nom,id_pau,id_activ){
	alert("HOLAAAQ: "+id_nom+" "+id_pau+" "+id_activ);
}
</script>