 <form name='frm_dl_rstgr' method="POST" action='{{ url }}'>
 {{ oHash.getCamposHtml()|raw }}
 {{ oCuadros.cuadros_check()|raw }}
	<input type="button" onClick="fnjs_enviar_formulario(this.form,'#main');" value="{{ "Buscar"|trans }}"  />
</form>
<br>