[submodule "lib/threedubmedia"]
	path = lib/threedubmedia
	url = git@github.com:GerHobbelt/jquery.threedubmedia.git
[submodule "documentation/wiki"]
	path = documentation/wiki
	url = git@github.com:GerHobbelt/SlickGrid.wiki.git
[submodule "lib/slickgrid-checkbox-select-all-column-plugin"]
	path = lib/slickgrid-checkbox-select-all-column-plugin
	url = git@github.com:GerHobbelt/SlickGrid.CheckboxSelectAllColumn.git
	ignore = dirty
[submodule "lib/slickgrid-enhanced-pager-plugin"]
	path = lib/slickgrid-enhanced-pager-plugin
	url = git@github.com:GerHobbelt/SlickGridEnhancementPager.git
	ignore = dirty
[submodule "lib/slickgrid-surge-extensions"]
	path = lib/slickgrid-surge-extensions
	url = git@github.com:GerHobbelt/Surge-SlickGrid-Extensions.git
	ignore = dirty
[submodule "lib/slickgrid-guriddo-frozencolumns"]
	path = lib/slickgrid-guriddo-frozencolumns
	url = git@github.com:GerHobbelt/guriddo.git
	ignore = dirty
[submodule "lib/hammer"]
	path = lib/hammer
	url = git@github.com:GerHobbelt/hammer.js.git
[submodule "lib/jquery-multiselect"]
	path = lib/jquery-multiselect
	url = git@github.com:GerHobbelt/jquery-multiselect.git
[submodule "lib/jquery-simulate"]
	path = lib/jquery-simulate
	url = git@github.com:GerHobbelt/jquery-simulate.git
	ignore = dirty
[submodule "lib/jquery-sparkline"]
	path = lib/jquery-sparkline
	url = git@github.com:GerHobbelt/jquery.sparkline.git
[submodule "lib/keymaster"]
	path = lib/keymaster
	url = git@github.com:GerHobbelt/keymaster.git
[submodule "lib/slickgrid-spreadsheet-plugins"]
	path = lib/slickgrid-spreadsheet-plugins
	url = git@github.com:GerHobbelt/slickgrid-spreadsheet-plugins.git
	ignore = dirty
[submodule "lib/slickgrid-totals-plugin"]
	path = lib/slickgrid-totals-plugin
	url = git@github.com:GerHobbelt/slickgrid-totals-plugin.git
	ignore = dirty
[submodule "lib/spectrum"]
	path = lib/spectrum
	url = git@github.com:GerHobbelt/spectrum.git
[submodule "lib/verge-screendimensions"]
	path = lib/verge-screendimensions
	url = git@github.com:GerHobbelt/verge.git
[submodule "lib/TinyColor"]
	path = lib/TinyColor
	url = git@github.com:GerHobbelt/TinyColor.git
[submodule "lib/jquery-iCheck"]
	path = lib/jquery-iCheck
	url = git@github.com:GerHobbelt/iCheck.git
[submodule "lib/jquery-jsonp"]
	path = lib/jquery-jsonp
	url = git@github.com:GerHobbelt/jquery-jsonp.git
[submodule "lib/jquery-fixclick"]
	path = lib/jquery-fixclick
	url = git@github.com:GerHobbelt/jquery-fixclick.git
