<div id="div_select_zona">
    <form id="frm_zona_ctr" name="frm_zona_ctr" action="" method="post">
        {{ oHash.getCamposHtml|raw }}
        <table>
            <thead>
            <tr>
                {{ prova }} adios
            </tr>
            <tr>
                <th class=titulo_inv colspan=4>{{ "Sacd de la zona"|trans|capitalize }}:&nbsp;&nbsp;&nbsp;
                    {{ oDesplSacd.desplegable|raw }}
                </th>
            </tr>
            </thead>
        </table>
    </form>
</div>

<br>
<div id="div_plantilla">
</div>
