<h2>HOLA</h2>
<ul>
    <li>
        <span class="link" onclick="fnjs_update_div('#main','{{ goListaSacd }}')">
            lista sacd
        </span>
    </li>
    <li>
        <span class="link" onclick="fnjs_update_div('#main','{{ goCrearPlantilla }}')">
            {{ "Crear plantilla"|trans|raw }}
        </span>
    </li>
</ul>
